.heading {
    font-family: "arial";
    
      }
    
      .example-button-row {
        
        min-width: 120px;
        width: 490px;
        
        
      }
    
      .login{
        flex: 1 1 auto;
      }

     