
        <div *ngIf="!loading" class="container-fluid hero-page1">
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <h1><font size=+3>Search books</font></h1>
          <div class="centered">
            
          <input
            [formControl]="queryField"
            id="keyword"
            type="search"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            size="80"
            
            style="font-size:18pt"
          />
        </div>
      
        </div>
      </div>
    </div>
  </div>
  
  
  <div *ngIf="loading" class="container-fluid mt-4">
    <div class="container">
      <div class="row justify-content-start align-items-start mb-5">
        <div class="col-lg-12">
          <!-- <form [formGroup]="addForm"> formControlName="keyword"  required-->
          <input
          
            class="form-control"
            [formControl]="queryField"
            type="search"
            id="keyword"
            placeholder="search"
            typeahead-wait-ms="delay"
            autocomplete="off"
          />
          <!-- </form> -->
        </div>
        <mat-card>
        <div *ngIf="items" class="col-12 mt-5">
          <div class="row justify-content-around">
            <div
              *ngFor="let product of items"
              class="col-lg-3 col-md-6 col-sm-12 book-display"
            >
              <div class="image">
                <img
                  *ngIf="product.volumeInfo.imageLinks"
                  src="{{ product.volumeInfo.imageLinks.thumbnail }}"
                  alt=""
                />
              </div>
              <div *ngFor="let aut of product.volumeInfo.authors">
                <span> Authors: {{ aut }}</span>
              </div>
              <div class="details">
                <span>Title: {{ product.volumeInfo.title }}</span> <br />
                <br />
                <button mat-flat-button   [routerLink]="['/search', combineSlug(product.id)]">Details</button>
                <button mat-flat-button (click)="goToLink(product.volumeInfo.previewLink)">Preview</button>
                <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
                    <mat-icon>favorite</mat-icon>
                  </button>
            
              </div>
            </div>
          </div>
        </div>
    </mat-card>
      </div>
    </div>
  </div>

  