mat-toolbar{
margin-top: -50px;;
}.heading {
    font-family: "arial";
    
      }
    
      .example-button-row {
        
        min-width: 120px;
        width: 490px;
        
        
      }
    
      .login{
        flex: 1 1 auto;
      }

      
      
    .search-container {
        position: fixed;right: 200px;}

        .example-form {
          min-width: 150px;
          max-width: 150px;
          width: 100%;
          position:absolute;right:100px;
          }

        
        
        
     